.content {
    background-color: white;
    color: black;
    border: 0px;
}


.sidebar-section{
    color: black;
}

.footer {
    color: white;
}

.footer li a{
    color: black;
}

